# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.cache
*.pyc

# Config
secret.env

# Logs
logs/

# pycharm
.idea/

# os
.DS_Store

# env
.flaskenv
app.db
ubuntu-xenial-16.04-cloudimg-console.log
